<br />
<div *ngIf="!is_logged_in" class="tr_ch-main-login_register">
  <div class="container-fluid" *ngIf="!switch_to_register">
    <div class="row">
      <div class="col-lg-4"></div>
      <div class="col-lg-4">
        <app-login
          (login_form_bool_output)="open_register_form($event)"
          (loggedin_bool_output)="should_log_in($event)"
        ></app-login>
      </div>
      <div class="col-lg-4"></div>
    </div>
  </div>
  <div class="container-fluid" *ngIf="switch_to_register">
    <div class="row">
      <div class="col-lg-4"></div>
      <div class="col-lg-4">
        <app-register
          (register_form_bool_output)="open_login_form($event)"
          (loggedin_bool_output)="should_log_in($event)"
        ></app-register>
      </div>
      <div class="col-lg-4"></div>
    </div>
  </div>
</div>
<div *ngIf="is_logged_in" class="tr_ch-main">
  <div class="container-fluid">
    <!-- // Header -->
    <div class="row">
      <div class="col-lg-12">
        <app-header-info
         (logout_bool_output)="logout($event)"
        ></app-header-info>
      </div>
    </div>
    <!-- Seperate Comp for the Details -->
    <div class="row">
      <div class="col-lg-6">
        <app-amount-details></app-amount-details>
      </div>
      <br />
      <!-- // Input Area -->
      <div class="col-lg-3">
        <!-- Amount input -->
        <app-new-expenses></app-new-expenses>
      </div>
      <div class="col-lg-3">
        <!-- Income input -->
        <app-new-income></app-new-income>
      </div>
    </div>
    <!-- // Display -->
    <div class="row">
      <!-- Seperate Comp for the Details -->
      <div class="col-lg-12">
        <app-past-amount-details></app-past-amount-details>
      </div>
    </div>
  </div>
</div>
