<div class="container-fluid">
  <div class="row">
    <mat-card class="example-card">
      <mat-card-content>
        <div class="lg-col-4">
          <div class="quotation">
            <app-quotations></app-quotations>
          </div>
        </div>
        <div class="lg-col-4"></div>
        <div class="lg-col-4">
          <div class="logout_button">
            <button mat-button (click)="logout($event)">Logout</button>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
